.container {
    display: grid;
    grid-template-columns: 38% 24% 38%;
    grid-template-rows: 25% 50% 25%;
    justify-items: stretch;
    align-items: stretch;

    height: 80%;
}

html, body {
    height: 95%;
}

.subContainer {

}

#loginDiv {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    text-align: center;

    min-width: 240px;
    min-height: 330px;

    background: rgba(0, 0, 0, 0.7);
}

.title-up {
    background-image: url('../html/resource/ids360Viewer/img/login-title.png');
    background-size: 40% 30px;
    background-repeat: no-repeat;
    background-position: top;

    color: white;
    height: 40px;
    text-align: center;
    font-family: “Microsoft YaHei” ! important;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.inputP {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-family: “Microsoft YaHei” ! important;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 15px;
    border-style: solid;
    border-color: rgba(63, 81, 181, 0.7);
    border-width: 1px;
    border-radius: 5px;
    line-height: 30px;
    text-align: start;
}

.inputClass {
    width: 50%;

    background: none;
    color: white;
    border: none;
    outline: none;
}

.tip {
    margin-left: 30px;
    text-align: start;
    height:10px;


    font-size: 10px;
    color: white;
    font-family: “Microsoft YaHei” ! important;

}

.inputButton {
    font-family: “Microsoft YaHei” ! important;
    background-color: #3f5cff;
    border-color: #3f51b5;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    outline:none;
    /*vertical-align: center;*/
    font-size: 20px;
    color: white;
    width: 80%;
    height: 40px;


}

