html,body{
    height:100%;
}

*{
    z-index: 10;
}

body {
    background-color: #000000;
    margin: 0px;
    overflow: hidden;

    user-select: none;
}

/* main button */
#returnImg{
    position: fixed;
    left:20px;
    top:20px;
    width: 50px;
}
#switchLayer{
    position: fixed;
    left:80px;
    top:20px;
    width: 50px;
}

#editImg{
    position: fixed;
    right:20px;
    top:85px;
    width: 30px;
}

#measureImg{
    position: fixed;
    right:20px;
    top:153px;
    width: 30px;
}

#selectImg{
    position: fixed;
    left:20px;
    bottom:20px;
    width: 55px;
}

#fullscreenImg{
    position: fixed;
    right:20px;
    top:20px;
    width: 28px;
    z-index: 12;
}
#exitFullscreenImg{
    display: none;
    position: fixed;
    right:20px;
    top:20px;
    width: 28px;
    z-index: 12;
}

/* layer button */
#superpositionImg{
    position: fixed;
    right:14px;
    bottom:20px;
    width: 40px;
}

#infraredImg{
    position: fixed;
    z-index: 12;
    right:69px;
    bottom:20px;
    width: 40px;
}

#mapImg{
    position: fixed;
    z-index: 12;
    right:124px;
    bottom:20px;
    width: 40px;
}

#panoramaImg{
    position: fixed;
    z-index: 12;
    right:179px;
    bottom:20px;
    width: 40px;
}

/* edit div */
.editClass{

    position: fixed;
    top:85px;
    right:22px;

    width: 26px;
    height:470px;
    background-color: white;
    border-style: none;
    border-radius: 14px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    z-index: 13;
}

#backEditImg{
    width:22px;
    margin-bottom: 5px;
}

#textImg{
    width: 24px;
    margin-bottom: 10px;
}

#rubberImg{
    width: 24px;
    margin-bottom: 10px;
}

#lineImg{
    width: 24px;
    margin-bottom: 10px;
}

#fireEngineImg{
    margin-bottom: 10px;
    width: 24px;
    margin-top: 5px;
}

#fireHydrantImg{
    margin-bottom: 10px;
    width: 24px;
}

#waterImg{
    margin-bottom: 10px;
    width: 24px;
}

/* color picker */
#slider-wrapper {
    width: 10px;
    height: 150px;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
#slider{
    width:4px;
    height: 145px;
    /*margin-top: 30px;*/
    margin-left: 3px;
}
#slider-indicator {
    width: 100%;
    margin-right: 4px;

    height: 10px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 2px rgba(100,100,100,0.2);
}

/* selectDiv */
#selectDiv{
    position:fixed;
    bottom: 100px;
    left:0px;
    right:0px;

    height: 100px;
    width: 100%;

    white-space:nowrap;
    overflow-x: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    background-color: rgba(10,10,10,0.7);

    z-index:13;
}

.listDetailDiv{
    border-width: 2px;
    border-style: solid;
    border-color: white;

    width: 80px;
    height:80px;

    background-size: cover;
    display: inline-block;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;

    text-align: center;
}

.timeSpan{
    font-size: 12px;
    color: white;
}

/* text input */
.textInput{
    border-style: none;
    background: rgba(0,0,0,0.6);
    color: #ff7200;
    font-size: 14px;
    padding:5px 10px;

    z-index: 12;
    position: absolute;
    outline:none;
    border-radius: 20px;
    display: none;
}

/* measure div */
#measureDiv{
    position: fixed;
    top:163px;
    right:22px;

    width: 26px;
    height:190px;
    background-color: white;
    border-style: none;
    border-radius: 14px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    z-index: 13;
}

#backMeasureImg{
    width:22px;
    margin-bottom: 10px;
}

#distanceImg{
    width: 24px;
    margin-bottom: 15px;
    margin-top: 10px;
}

#heightImg{
    width: 24px;
    margin-bottom: 15px;
}

#areaImg{
    width: 24px;
    margin-bottom: 15px;
}

/* 悬浮div样式 */
.amap-ranging-label {
    position:absolute;
    /*width: 24px;*/
    display: inline;
    font-size: 12px;
    line-height: 14px;
    background: #fff;
    border: solid 1px #ccc;
    padding: 3px 7px 3px 2px;
    white-space: nowrap;
    z-index:12;
}

.delimg{
    margin-bottom: -3px;
}

/* 纯文字：单击以确定起点 */
.clickSetStart{
    position:absolute;
    display: inline;
    font-size: 12px;
    line-height: 14px;
    background: #fff;
    border: solid 1px #ccc;
    padding: 3px 7px 3px 2px;
    white-space: nowrap;
    z-index:12;
}

/* 红色圆圈 */
.pointDiv{
    width: 12px;
    height: 12px;
    overflow: hidden;
    position: absolute;
    z-index: 12;
}

/* 每一个的长度label */
.pointLabel{
    position:absolute;
    display: inline;
    font-size: 12px;
    line-height: 12px;
    background: #fff;
    border: solid 1px #ccc;
    padding: 3px 7px 3px 2px;
    white-space: nowrap;
    z-index:12;
    text-align: center;
}

.destroyImg{
    width:12px;
    margin-left: 4px;
}

/* arrow_box 三角箭头样式 */
.arrow_box{
    position: absolute;
    left:50px;
    top:50px;
    padding:5px 10px;

    background: rgba(0,0,0,0.6);
    display: inline;
    font-size: 14px;
    color:#ff7200;

    border-radius: 20px;
    border-style: none;
    white-space: nowrap;

}

.text_delimg{
    margin-bottom: -3px;
    width:16px;
}

.arrow_box:after, .arrow_box:before{
    top:100%;
    left:50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:before{
    border-color: rgba(194,225,245,0);
    border-top-color: rgba(0,0,0,0.6);
    border-width: 10px;
    margin-left: -10px;
}
