html,body{
    height:100%;
}
*{
    z-index: 10;
}

body {
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
}

#returnImg{
    position: fixed;
    left:20px;
    top:20px;
    width: 45px;
}

#fullscreenImg{
    position: fixed;
    right:20px;
    top:20px;
    width: 24px;
    z-index: 12;
}
#exitFullscreenImg{
    display: none;
    position: fixed;
    right:20px;
    top:20px;
    width: 24px;
    z-index: 12;
}

#editImg{
    position: fixed;
    right:18px;
    top:80px;
    width: 30px;
}

#measureImg{
    position: fixed;
    right:20px;
    top:140px;
    width: 24px;
}

#selectImg{
    position: fixed;
    left:20px;
    bottom:20px;
    width: 46px;
}

#superpositionImg{
    position: fixed;
    right:14px;
    bottom:20px;
    width: 35px;
}

#infraredImg{
    position: fixed;
    z-index: 12;
    right:69px;
    bottom:20px;
    width: 35px;
}

#mapImg{
    position: fixed;
    z-index: 12;
    right:124px;
    bottom:20px;
    width: 35px;
}

#panoramaImg{
    position: fixed;
    z-index: 12;
    right:179px;
    bottom:20px;
    width: 35px;
}

/* fixed button */

#superpositionImgEdit{
    position: fixed;
    right:20px;
    bottom:20px;
    width: 24px;
    height: 36px;
}

#infraredImgEdit{
    position: fixed;
    right:62px;
    bottom:20px;
    width: 24px;
    height: 36px;
}

#mapImgEdit{
    position: fixed;
    right:104px;
    bottom:20px;
    width: 24px;
    height: 36px;
}

#panoramaImgEdit{
    position: fixed;
    right:146px;
    bottom:20px;
    width: 24px;
    height: 36px;
}

#fullscreenImgEdit{
    position: fixed;
    right:20px;
    top:40px;
    width: 22px;
    height: 36px;
}

/* input */
.spanClass{

    position: fixed;
    top:80px;
    right:22px;

    width: 20px;
    height:405px;
    background-color: white;
    border-style: none;
    border-radius: 10px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    z-index: 12;
}

#backEditImg{

    width:16px;

    margin-bottom: 5px;
}

#textImgEdit{

    width: 18px;
    margin-bottom: 10px;

}

#rubberImgEdit{

    width: 18px;
    margin-bottom: 10px;

}

#lineImgEdit{
    width: 18px;
    margin-bottom: 10px;
}

#fireEngineImgEdit{
    margin-bottom: 10px;
    width: 18px;
    margin-top: 5px;
}

#fireHydrantImgEdit{
    margin-bottom: 10px;
    width: 18px;
}

#waterImgEdit{
    margin-bottom: 10px;
    width: 18px;
}




/* color picker */
#slider-wrapper {
    width: 10px;
    height: 150px;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
#slider{
    width:4px;
    height: 145px;
    /*margin-top: 30px;*/
    margin-left: 3px;
}
#slider-indicator {
    width: 100%;
    margin-right: 4px;

    height: 10px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 2px rgba(100,100,100,0.2);

}

/* selectDiv */
#selectDiv{

    position:fixed;
    bottom: 100px;
    left:0px;
    right:0px;

    height: 100px;
    width: 100%;

    white-space:nowrap;
    overflow-x: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    background-color: rgba(10,10,10,0.7);


}

.listDetailDiv{
    border-width: 2px;
    border-style: solid;
    border-color: white;

    width: 80px;
    height:80px;

    background-size: cover;
    display: inline-block;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;

    text-align: center;
}

.timeSpan{
    font-size: 12px;
    color: white;

}

.inputCanvas{

    border-style: none;
    background: rgba(50,50,50,0.8);
    color: #ff7200;
    font-size: 14px;
    padding:5px 10px;

    z-index: 12;
    position: absolute;
    outline:none;
    border-radius: 20px;

}

/* measure */
#measureDiv{

    position: fixed;
    top:140px;
    right:22px;

    width: 20px;
    height:145px;
    background-color: white;
    border-style: none;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    z-index: 12;

}

#backMeasureImg{

    width:16px;

    margin-bottom: 5px;
}

#distanceImg{

    width: 18px;
    margin-bottom: 10px;
    margin-top: 10px;

}

#heightImg{

    width: 18px;
    margin-bottom: 10px;

}

#areaImg{
    width: 18px;
    margin-bottom: 10px;
}

/* 悬浮div样式 */
.amap-ranging-label {
    position:absolute;
    /*width: 24px;*/
    display: inline;
    font-size: 12px;
    line-height: 14px;
    background: #fff;
    border: solid 1px #ccc;
    padding: 3px 7px 3px 2px;
    white-space: nowrap;
    z-index:15;
}

.delimg{
    margin-bottom: -3px;
}

/* arrow_box */
.arrow_box{
    position: absolute;
    left:50px;
    top:50px;
    padding:5px 10px;

    background: rgba(50,50,50,0.8);
    display: inline;
    font-size: 14px;
    color:#ff7200;

    border-radius: 20px;
    border-style: none;
    white-space: nowrap;

}

.text_delimg{
    margin-bottom: -3px;
    width:16px;
}

.arrow_box:after, .arrow_box:before{
    top:100%;
    left:50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:before{
    border-color: rgba(194,225,245,0);
    border-top-color: rgba(50,50,50,0.8);
    border-width: 10px;
    margin-left: -10px;
}